<div class="border w-24 flex flex-col justify-around">
    <div class="flex flex-row justify-around">
        <div class="flex flex-row">
            <svg class="h-5 w-5 text-black" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/>
                <circle cx="12" cy="12" r="3"/>
            </svg>
            <p>{{ item['show_count'] }}</p>
        </div>
        <div class="flex flex-row">
            <svg class="h-5 w-5 text-black" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                 stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4"/>
                <line x1="12" y1="11" x2="12" y2="11.01"/>
                <line x1="8" y1="11" x2="8" y2="11.01"/>
                <line x1="16" y1="11" x2="16" y2="11.01"/>
            </svg>
            <p>{{ item['comments_count'] }}</p>
        </div>
    </div>
    <img class="border" src="/Storage/image/thumbs/{{ item['server_file_name'] }}" width="100"
         alt="{{ item['file_name'] }}">
    <a href="/photo/show/{{ item['photo_id'] }}">Подробнее
    </a>
</div>